---
import Layout from '../../layouts/Layout.astro';
import PageHeader from '../../components/docs/PageHeader.astro';
import TagColor from '../../components/docs/TagColor.astro';

const navItems = [
    { linkText: 'global colors', href: '/docs/colors' },
    { linkText: 'theme colors', href: '/docs/colors' }
];

const pageTitle = `colors`;
---

<script>
    import { animate, scroll } from 'motion';
    animate('.fade', { opacity: [0, 1] }, { duration: 1, ease: 'easeInOut' });
</script>

<Layout title={pageTitle}>
    <div class="main-wrap fade">
        <section>
            <PageHeader title={pageTitle} />
        </section>
        <section>
            <div>
                {
                    !!navItems?.length && (
                        <ul class="nav-links">
                            {navItems.map((item) => (
                                <li>
                                    <a href={item.href} class="nav-link fs-p-sm">
                                        {item.linkText}
                                    </a>
                                </li>
                            ))}
                        </ul>
                    )
                }
            </div>
        </section>
        <section>
            <div class="table-section">
                <div class="table-wrap">
                    <table>
                        <!-- Table Headers -->
                        <thead>
                            <tr class="fs-label-xs">
                                <td class="column-header"> Variable </td>
                                <td class="column-header"> Light </td>
                                <td class="column-header"> Dark </td>
                            </tr>
                            <tr class="fs-label-sm">
                                <th>text</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>

                        <!-- Text Colors -->
                        <tbody>
                            <tr>
                                <td>
                                    <div class="table-item">
                                        <TagColor varName="--c-text-primary" />
                                    </div>
                                    <td>
                                        <div class="table-item">
                                            <TagColor varName="--c-gray-800" />
                                        </div>
                                    </td>
                                    <td>
                                        <div class="table-item">
                                            <TagColor varName="--c-gray-100" />
                                        </div>
                                    </td>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="table-item">
                                        <TagColor varName="--c-text-secondary" />
                                    </div>
                                    <td>
                                        <div class="table-item">
                                            <TagColor varName="--c-gray-500" />
                                        </div>
                                    </td>
                                    <td>
                                        <div class="table-item">
                                            <TagColor varName="--c-gray-400" />
                                        </div>
                                    </td>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="table-item">
                                        <TagColor varName="--c-text-alt-primary" />
                                    </div>
                                    <td>
                                        <div class="table-item">
                                            <TagColor varName="--c-gray-100" />
                                        </div>
                                    </td>
                                    <td>
                                        <div class="table-item">
                                            <TagColor varName="--c-gray-100" />
                                        </div>
                                    </td>
                                </td>
                            </tr>
                        </tbody>

                        <!-- Background Colors -->
                        <thead>
                            <tr class="fs-label-sm">
                                <th>background</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="table-item">
                                        <TagColor varName="--c-bg-primary" />
                                    </div>
                                    <td>
                                        <div class="table-item">
                                            <TagColor varName="--c-gray-50" />
                                        </div>
                                    </td>
                                    <td>
                                        <div class="table-item">
                                            <TagColor varName="--c-black-900" />
                                        </div>
                                    </td>
                                </td>
                            </tr>
                        </tbody>

                        <!-- Surface Colors -->
                        <thead>
                            <tr class="fs-label-sm">
                                <th>surface</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="table-item">
                                        <TagColor varName="--c-surface-primary" />
                                    </div>
                                    <td>
                                        <div class="table-item">
                                            <TagColor varName="--c-white-600" />
                                        </div>
                                    </td>
                                    <td>
                                        <div class="table-item">
                                            <TagColor varName="--c-black-100" />
                                        </div>
                                    </td>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="table-item">
                                        <TagColor varName="--c-surface-secondary" />
                                    </div>
                                    <td>
                                        <div class="table-item">
                                            <TagColor varName="--c-white-100" />
                                        </div>
                                    </td>
                                    <td>
                                        <div class="table-item">
                                            <TagColor varName="--c-" />
                                        </div>
                                    </td>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="table-item">
                                        <TagColor varName="--c-surface-alt-primary" />
                                    </div>
                                    <td>
                                        <div class="table-item">
                                            <TagColor varName="--c-gray-950" />
                                        </div>
                                    </td>
                                    <td>
                                        <div class="table-item">
                                            <TagColor varName="--c-gray-200" />
                                        </div>
                                    </td>
                                </td>
                            </tr>
                        </tbody>

                        <!-- Fill Colors -->
                        <thead>
                            <tr class="fs-label-sm">
                                <th>fill</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="table-item">
                                        <TagColor varName="--c-fill-primary" />
                                    </div>
                                    <td>
                                        <div class="table-item">
                                            <TagColor varName="--c-violet-700" />
                                        </div>
                                    </td>
                                    <td>
                                        <div class="table-item">
                                            <TagColor varName="--c-violet-400" />
                                        </div>
                                    </td>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="table-item">
                                        <TagColor varName="--c-fill-secondary" />
                                    </div>
                                    <td>
                                        <div class="table-item">
                                            <TagColor varName="--c-" />
                                        </div>
                                    </td>
                                    <td>
                                        <div class="table-item">
                                            <TagColor varName="--c-" />
                                        </div>
                                    </td>
                                </td>
                            </tr>
                        </tbody>

                        <!-- Border Colors -->
                        <thead>
                            <tr class="fs-label-sm">
                                <th>border</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="table-item">
                                        <TagColor varName="--c-border-primary" />
                                    </div>
                                    <td>
                                        <div class="table-item">
                                            <TagColor varName="--c-gray-200" />
                                        </div>
                                    </td>
                                    <td>
                                        <div class="table-item">
                                            <TagColor varName="--c-gray-900" />
                                        </div>
                                    </td>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="table-item">
                                        <TagColor varName="--c-border-secondary" />
                                    </div>
                                    <td>
                                        <div class="table-item">
                                            <TagColor varName="--c-gray-100" />
                                        </div>
                                    </td>
                                    <td>
                                        <div class="table-item">
                                            <TagColor varName="--c-" />
                                        </div>
                                    </td>
                                </td>
                            </tr>
                        </tbody>

                        <!-- Icon Colors -->
                        <thead>
                            <tr class="fs-label-sm">
                                <th>icon</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="table-item">
                                        <TagColor varName="--c-icon-primary" />
                                    </div>
                                    <td>
                                        <div class="table-item">
                                            <TagColor varName="--c-gray-500" />
                                        </div>
                                    </td>
                                    <td>
                                        <div class="table-item">
                                            <TagColor varName="--c-gray-400" />
                                        </div>
                                    </td>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="table-item">
                                        <TagColor varName="--c-icon-secondary" />
                                    </div>
                                    <td>
                                        <div class="table-item">
                                            <TagColor varName="--c-gray-50" />
                                        </div>
                                    </td>
                                    <td>
                                        <div class="table-item">
                                            <TagColor varName="--c-gray-50" />
                                        </div>
                                    </td>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>

    <style>
        /* Page Layout Styles */

        .fade {
            opacity: 0;
        }

        .main-wrap {
            max-width: 100%;
            flex-grow: 1;
        }

        section {
            width: 100%;
            max-width: 100%;
            flex-grow: 1;
            display: flex;
            flex-direction: column;
        }

        .table-section {
            padding: var(--p-md) var(--p-xl);
        }

        /* Header Styles */

        .page-header {
            border-bottom: var(--c-border-primary) 1px solid;
        }

        .nav-links {
            display: flex;
            gap: 1rem;
            padding: 2rem var(--p-xl);
            margin-bottom: 2rem;
            border-bottom: var(--c-border-primary) 1px solid;
        }

        .nav-link {
            background-color: var(--c-fill-primary);
            color: var(--c-text-alt-primary);
            padding: 0.33rem 0.75rem;
            border-radius: var(--b-radius-md);
        }

        .nav-link:hover {
            background: var(--c-fill-secondary);
        }

        /* Table Styles */

        .table-wrap {
            display: flex;
            justify-content: center;
            flex-direction: column;
            gap: var(--p-lg);
            padding: var(--p-xl);
            border: var(--c-border-primary) 1px solid;
            background-color: var(--c-surface-primary);
            border-radius: var(--b-radius-lg);
            overflow-x: auto;
            scrollbar-width: thin;
            scrollbar-color: var(--c-border-secondary) transparent;
            margin-bottom: 4rem;
            white-space: nowrap;
        }

        .table-wrap::-webkit-scrollbar {
            height: 8px;
            background: #f0f0f0;
        }

        .table-wrap::-webkit-scrollbar-thumb {
            background: #888;
            border-radius: 4px;
        }

        .table-wrap::-webkit-scrollbar-thumb:hover {
            background: #555;
        }

        table {
            flex-grow: 1;
            background-color: var(--c-surface-primary);
            border-collapse: collapse;
            border-radius: var(--b-radius-lg);
            outline: var(--c-border-primary) 1px solid;
            outline-offset: -1px;
            overflow: hidden;
            table-layout: fixed;
        }

        tr {
            padding: 1rem;
        }

        th {
            text-align: left;
            padding: 1.125rem 1.5rem 1rem;
            background-color: var(--c-surface-primary);
            font-weight: inherit;
            color: var(--c-text-secondary);
        }

        td {
            background-color: var(--c-surface-primary);
            border: var(--c-border-primary) 1px solid;
        }

        .table-item {
            display: flex;
            padding: 0.5rem;
        }

        .column-header {
            padding: 1.125rem 1.5rem 1rem;
            text-transform: uppercase;
            background-color: oklch(from var(--c-surface-secondary) l c h / 33%);
        }

        /* TABLET - Responsive Styles */
        @media (max-width: 768px) {
            table {
                min-width: 100%;
                margin-bottom: var(--p-lg);
            }
        }

        /* MOBILE - Responsive Styles */
        @media (max-width: 425px) {
            .wrap {
            }
        }
    </style>
</Layout>
