---
import Layout from '../../layouts/Layout.astro';
import { Icon } from 'astro-icon/components';
import PageHeader from '../../components/docs/PageHeader.astro';
import Button from '../../components/Button.astro';

const pageTitle = `start building`;
---

<script>
    import { animate, scroll } from 'motion';
    animate('.fade', { opacity: [0, 1] }, { duration: 1, ease: 'easeInOut' });
</script>

<Layout title={pageTitle}>
    <div class="main-wrap fade">
        <section>
            <PageHeader title={pageTitle} />
        </section>
        <section>
            <div class="wrap desc-wrap">
                <h4>This minimal template provides the essential styles & dependencies needed to build & publish a modern web interface.</h4>
                <p>The intention is to influence your project as little as possible while reducing effort to start building immediately.</p>
                <div class="button-wrap">
                    <Button label="Component Sandbox" href="/docs/sandbox" />
                </div>
            </div>
        </section>
    </div>
</Layout>

<style>
    /* Page Layout Styles */

    .fade {
        opacity: 0;
    }

    .main-wrap {
        max-width: 100%;
        flex-grow: 1;
    }

    section {
        width: 100%;
        max-width: 100%;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }

    .wrap {
        padding: var(--p-xl);
    }

    /* Custom Styles */

    .desc-wrap {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        gap: var(--p-md);
    }

    .button-wrap {
        width: auto;
    }

    /* LAPTOP SMALL - Responsive Styles */
    @media (max-width: 1024px) {
        .desc-wrap {
            gap: var(--p-lg);
        }
    }

    /* TABLET - Responsive Styles */
    @media (max-width: 768px) {
        .desc-wrap {
            gap: var(--p-xl);
        }
    }

    /* MOBILE - Responsive Styles */
    @media (max-width: 425px) {
        .div {
        }
    }
</style>
