---
import { Icon } from 'astro-icon/components';
const placeholder = `World`;

interface Props {
    title?: string;
}

const { title } = Astro.props;
---

<script>
    // import { animate, scroll } from 'motion';
    // animate('.fade', { opacity: [0, 1] }, { duration: 2 });
</script>

<div class="wrap page-header">
    <h1>{title}</h1>
</div>

<style>
    .wrap {
        padding: var(--p-xl);
    }

    /* Page Header */

    .page-header {
        border-bottom: var(--c-border-primary) 1px solid;
    }

    /* TABLET - Responsive Styles */
    @media (max-width: 768px) {
        .div {
        }
    }

    /* MOBILE - Responsive Styles */
    @media (max-width: 425px) {
        .div {
        }
    }
</style>
