---
import { Icon } from 'astro-icon/components';
const placeholder = `World`;

interface Props {
    label?: string;
}

const { label } = Astro.props;
---

<script>
    import { animate, scroll } from 'motion';

    const tags = document.querySelectorAll('.tag');

    tags.forEach((tag) => {
        tag.addEventListener('mouseenter', function () {
            animate(
                this,
                {
                    background: ['var(--c-surface-secondary)', 'oklch(from var(--c-surface-secondary) l c h / 66%)'],
                    border: ['var(--c-border-secondary) 1px solid', 'var(--c-border-primary) 1px solid']
                },
                { duration: 2 }
            );
        });
        tag.addEventListener('mouseleave', function () {
            animate(
                this,
                {
                    background: ['oklch(from var(--c-surface-secondary) l c h / 66%)', 'var(--c-surface-secondary)'],
                    border: ['var(--c-border-primary) 1px solid', 'var(--c-border-secondary) 1px solid']
                },
                { duration: 2 }
            );
        });
    });
</script>

<div class="tag">
    <div class="tag-label fs-label-sm">{label}</div>
</div>

<style>
    .tag {
        display: flex;
        padding: 0.5rem 0.5rem;
        background-color: var(--c-surface-secondary);
        border: var(--c-border-secondary) 1px solid;
        border-radius: var(--b-radius-lg);
        cursor: pointer;
        gap: 0.75rem;
    }

    .tag-label {
        padding: 0 0.25rem;
        height: 22px;
    }

    /* LAPTOP SMALL - Responsive Styles */
    @media (max-width: 1024px) {
        .div {
        }
    }

    /* TABLET - Responsive Styles */
    @media (max-width: 768px) {
        .div {
        }
    }

    /* MOBILE - Responsive Styles */
    @media (max-width: 425px) {
        .div {
        }
    }
</style>
