---
import Layout from '../layouts/Layout.astro';
import { Icon } from 'astro-icon/components';
import Hero from '../components/Hero.astro';

const pageTitle = `Popmelt Astro Minimal`;
---

<script>
    import { animate, scroll } from 'motion';
    animate('.fade', { opacity: [0, 1] }, { duration: 2 });
</script>

<Layout title={pageTitle}>
    <div class="main-wrap fade">
        <section>
            <Hero />
        </section>
        <section>
            <div class="wrap banner-docs">
                <h2>theme <a href="/docs">docs</a></h2>
            </div>
        </section>
    </div>
</Layout>

<style>
    /* Page Layout Styles */

    .fade {
        opacity: 0;
    }

    .main-wrap {
        max-width: 100%;
        flex-grow: 1;
    }

    section {
        width: 100%;
        max-width: 100%;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }

    .wrap {
        padding: var(--p-xl);
    }

    /* Custom Styles */

    .hero {
        height: 50vh;
    }

    .banner-docs {
        border-top: var(--c-border-primary) 1px solid;
    }

    a {
        color: var(--c-brand-primary);
        text-decoration: underline;
    }

    /* LAPTOP SMALL - Responsive Styles */
    @media (max-width: 1024px) {
        .div {
        }
    }

    /* TABLET - Responsive Styles */
    @media (max-width: 768px) {
        .div {
        }
    }

    /* MOBILE - Responsive Styles */
    @media (max-width: 425px) {
        .div {
        }
    }
</style>
