---
import Hero from '../components/Hero.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Popmelt Astro Start File">
    <section>
        <Hero />
    </section>
</Layout>

<style>
    section {
        max-width: 100%;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }
</style>
