---
import { Icon } from 'astro-icon/components';

interface Props {
    label?: string;
    href?: string;
    icon?: string;
}

const { label = 'Learn More', href, icon = 'arrow/arrow-right' } = Astro.props;
---

<script>
    import { animate, scroll } from 'motion';

    const buttons = document.querySelectorAll('.button');

    buttons.forEach((button) => {
        button.addEventListener('mouseenter', function () {
            animate(
                this,
                {
                    background: ['var(--c-fill-primary)', 'var(--c-fill-secondary)'],
                    scale: [1, 0.97]
                },
                { duration: 0.33 }
            );
            animate(
                this.querySelector('.button-icon'),
                {
                    x: [0, '-.25rem'],
                    border: ['1px solid oklch(from var(--c-text-alt-primary) l c h / 40%)', '1px solid oklch(from var(--c-text-alt-primary) l c h / 60%)']
                },
                { duration: 0.33 }
            );
        });
        button.addEventListener('mouseleave', function () {
            animate(
                this,
                {
                    background: ['var(--c-fill-secondary)', 'var(--c-fill-primary)'],
                    scale: [0.97, 1]
                },
                { duration: 0.33 }
            );
            animate(
                this.querySelector('.button-icon'),
                {
                    x: ['-.25rem', 0],
                    border: ['1px solid oklch(from var(--c-text-alt-primary) l c h / 60%)', '1px solid oklch(from var(--c-text-alt-primary) l c h / 40%)']
                },
                { duration: 0.33 }
            );
        });
    });
</script>
<a href={href}>
    <div class="button">
        <div class="button-label fs-label-sm">{label}</div>
        <div class="button-icon">
            <Icon name={icon} size=".825rem" />
        </div>
    </div>
</a>

<style>
    .button {
        display: flex;
        padding: 0.5rem 0.5rem 0.5rem 1.125rem;
        gap: 0.875rem;
        align-items: center;
        justify-content: center;
        border-radius: var(--b-radius-xl);
    }

    .button-label {
        padding-top: 1px;
    }

    .button-icon {
        width: 2rem;
        height: 2rem;
        padding-top: 1px;
        padding-right: 0.5px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid oklch(from var(--c-text-alt-primary) l c h / 40%);
        border-radius: var(--b-radius-lg);
    }
</style>
